<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./../assets/css/style.css">
</head>
<body>
  
  <h1>{{ title }}</h1>
  <h2>{{ subtitle }}</h2>
  <h2>{{ add }}</h2>
  <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum, eveniet ipsam! Dignissimos nam molestiae expedita inventore, cupiditate repudiandae quis dolor est maiores tempore praesentium, ab, nobis recusandae esse impedit sit?</div>
<ul>
  <li>1</li>
  <li>2</li>
  <li>3</li>
</ul>
<div>Wpisz wartość</div>
<input type="text" id="input">
<button id="btn">Klik</button>
<div id="output"></div>
<script src="./../js/func.js"></script>
</body>
</html>